<?xml version='1.0' encoding='utf-8'?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:iot2="http://schemas.microsoft.com/appx/manifest/io2/windows10/2"
  IgnorableNamespaces="uap mp desktop4 iot2"
  >
  <Identity
    Name="Build2018Samples.Trips"
    Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
    Version="1.0.0.0"
    />
  <mp:PhoneIdentity PhoneProductId="0c8657a2-e44c-445b-a093-e2dcb903d4cc" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>Trips</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\store.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Universal"
      MinVersion="10.0.16299.0"
      MaxVersionTested="10.0.17661.0"
      />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>
  <Applications>
    <Application
      Id="Trips.App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Trips.App"
      desktop4:SupportsMultipleInstances="true"
      iot2:SupportsMultipleInstances="true"
      >
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="ms-build2018-sample-trips"/>
        </uap:Extension>
      </Extensions>
      <uap:VisualElements
        DisplayName="Trips"
        Square150x150Logo="Assets\logo.png"
        Square44x44Logo="Assets\small.png"
        Description="Trips"
        BackgroundColor="#008299"
        >
        <uap:SplashScreen Image="Assets\splash.png"/>
        <uap:DefaultTile>
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>
